.poster-wrapper{
    display: flex;
    flex-direction: column;
}

.poster{
    height: 280px;
    width: 210px;
    border-radius: 5px;
    cursor: pointer;
}

.poster:hover{
    border: 3px rgb(2, 181, 2) solid;
}

.poster-stats{
    display: flex;
    justify-content: center;
    gap: 25px
}
