.review-input-body{
    color:black;
    resize: none;
    height: 180px;
    width: 250px;
}

.show-poster{
    height: 160px;
    width: 125px;
    margin-top: 28px;
    border-radius: 5px;
}

.review-input-wrapper{
    display: flex;
    gap: 15px;
    width: 400px;
    justify-content: center;
    margin: 20px 20px;
}

.show-year{
    font-family:'Open Sans', sans-serif;
}

.edit-review-form{
    display: flex;
    flex-direction: column;
    gap: 3px
}

.character-counter{
    margin-top: 15px;
}
