.review-input-body{
    color:black;
    resize: none;
    height: 100px;
    width: 400px;
}

.show-poster{
    height: 180px;
    width: 140px;
    margin-top: 2px;
    border-radius: 5px;
}

.review-input-wrapper{
    display: flex;
    gap: 15px;
    width: 400px;
    justify-content: center;
    margin: 20px 100px;
}

.show-year{
    font-family:'Open Sans', sans-serif;
}

.edit-review-form{
    display: flex;
    flex-direction: column;
    gap: 3px
}

.character-counter{
    margin: 15px 0 0 350px;
}
