.signup-modal {
  width: 25rem;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.submit-button{
    margin-bottom: 2rem;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    cursor:pointer;
    background-color: #09B509;
    font-size: 12px;
}


input {
  display: flex;
  justify-content: center;
  width: 15rem
}

.errors{
    font-size: 13px;
    text-align: center;
    color: red;
}

label{
  font-size: 13px;
}
