#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color: #435666;
    border-radius: 5px;
    max-height: 600px;
    overflow-y:scroll;
  }

  .modal-header{
    display:flex;
    justify-content: space-between;
    margin: 10px 15px;
  }

  .modal-header-title{
   font-family:'Open Sans', sans-serif;
   margin-left: 50px;
   color: #778899;
  }

  .x-button{
    position: relative;
    top: 13px;
    stroke: #778899;
    stroke-width: 3;
    cursor:pointer;
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .x-button:hover{
    stroke: #CCDDEE;
  }
