/* TODO Add site wide styles */
html * {
    font-family: 'Merriweather', serif;
    font-weight: 100;
}


:root{
    --app-color:  rgb(0, 0, 0);
    background-color:  #1a1f24;
}

/*
rgb(109, 152, 100); */
