/* TODO Add site wide styles */
html * {
    font-family:'Playfair Display', serif;
    font-weight: 100;
    color: white;
    margin: 0;
}


:root{
    --app-color:  rgb(0, 0, 0);
    background-color:  #1a1f24;
    background: linear-gradient(#1A1F25, rgb(27, 62, 81) );
    min-height: 100vh;
}



/* #1A1F25 */
