/* .show-banner{
    position: relative;
    z-index:0
} */

.banner-frame{
    position: absolute;
    z-index: 1;
    left: 0.1px;
    width: 100%;
    height: 900px;
    top: -700px;;
    min-width: 1230px;
    /* max-width: 1451px; */
}

.show-image:hover{
    border: 3px rgb(2, 181, 2) solid;
}
