.review-user{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    cursor:pointer;
}
.review-user:hover{
    color:rgb(162, 162, 162)
}

.single-review{
    max-width: 600px;
    border-bottom: gray 1px solid;
}
