.review-user{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    cursor:pointer;
}
.review-user:hover{
    color:rgb(162, 162, 162)
}

.single-review{
    border-bottom: gray 1px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 20px 0;
    width: 600px;
}

.review-likes{
    margin-bottom: 20px;
}
