.hidden {
  display: none;
}

.user-info {
  width: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 13px 1px #000000aa;
  padding: 0px 10px 0px 10px;
  margin: 40px 10px 0 0;
}



.email {
  text-align: center;
  position: relative;
  top: -20px;
  border-bottom: solid rgb(175, 175, 175);
  padding-bottom: 20px;
}


/* .open-modal-button{
    all:unset;

} */

.profile-button {
  border: 1px solid rgb(0, 0, 0);
  height: 2.5rem;
  width: 4rem;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu-icon {
  padding-left: 8px;
}

.logo-link {
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 30px;
  display: flex;
  margin-left: 35px;
  width: 250px;
}


.signin-signup{
  display:flex;
}

.all-shows-button{
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
