.hidden {
  display: none;
}


.profile-button {
  border: 1px solid rgb(0, 0, 0);
  height: 2.5rem;
  width: 4rem;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu-icon {
  padding-left: 8px;
}

.logo-link {
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 30px;
  display: flex;
  margin-left: 35px;
  width: 250px;
}


.signin-signup{
  display:flex;
}

.all-shows-button{
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.nav-bar{
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 500px;
  background-color: 1A1F25;
  height: 80px;
}
