.login-modal{
    width: 24rem;
}


input{
    width: 18rem;
    color:black
}

.demo-user-button{
    margin-bottom: 2rem;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--app-color);
    cursor:pointer;
    border-color: var(--app-color);
}
.log-in-button{
    width: 10rem;
    height: 2rem;
    background-color: var(--app-color);
    border-radius: 10px;
    cursor:pointer;
    border-color: var(--app-color);
    color: black;
}

.log-in-button:disabled{
    width: 10rem;
    height: 2rem;
    background-color: white;
    border-color: white
}
