.login-modal{
    width: 24rem;
}


input{
    width: 18rem;
    color:black
}

.demo-user-button{
    margin-bottom: 2rem;
    width: 5.3rem;
    height: 2rem;
    border-radius: 5px;
    cursor:pointer;
    border: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    background-color: #EF8733;
}
.log-in-button{
    width: 5.3rem;
    height: 2rem;
    border-radius: 5px;
    cursor:pointer;
    color: black;
    border: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    background-color: #09B509;
    color: white;

}

.log-in-button:disabled{
    width: 10rem;
    height: 2rem;
    background-color: white;
    border-color: white
}
