.comment-box{
    display: flex;
    justify-content: space-between;
    border-bottom: #808080 1px solid;
    padding: 20px 0;
}


.user-date-comment{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
